body {
    background-color:grey; 
    text-align: center;
}
  
p {
    color:#FF0000; /*color rojo*/
    font-size:18px; /* font es la caracteristica y size la subcaracteristica*/
    font-family:Arial, Helvetica, sans-serif;
}

a {
    text-decoration:none; /*aquí le quito el subrayado */
    color:#00FF00; /* no lo quiero azul */
    font-size:18px; /* tamaño que le daremos por defecto*/
}

    a:hover { /*envento que sucede al pasar sobre*/
    color:#FFFF00; /*con esto cambiara de color*/
    font-size:36px; /* y de tamaño al paserle el mouse sobre */
}

a:visited { /*Estado depues de visitar*/
font-size:9px;
text-decoration:line-through;
    /* Cabe destacar que soporta herencia,
        no le defino color y tomara el que esta en "a" y al pasar sobre
        no cambiara tamaño solo color, debido a que aqui lo
        obligo a tener solo 9px de tamaño */
}